In [1]:
import requests
import os
import shutil
import sqlite3
import pandas as pd
from time import sleep

# Code for grabbing our sqlite file off the internet
global dump

"""
Used to download the Chinook database.
"""
def download_file():
    global dump
    url = "https://github.com/lerocha/chinook-database/raw/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite"
    dump = requests.get(url, stream=True).raw

'''
Used to save the downloaded Chinook Database into an sqlite database file.
'''
def save_file():
    global dump
    location = os.path.relpath("exampledb.sqlite")
    with open("exampledb.sqlite", 'wb') as location:
        shutil.copyfileobj(dump, location)
    del dump

In [2]:
"""
This code snippet downloads the Chinook database, connects to it, and prepares for queries to be executed.
"""
# Grabbing copy of database
download_file()
# Saving copy of database to a local file
save_file()
# Create a connection object that represents a database    
conn = sqlite3.connect("exampledb.sqlite")
# Once the connection to the database is opened, we create a Cursor object to execute queries
c = conn.cursor()

In [6]:
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(c.fetchall())

[('Album',), ('Artist',), ('Customer',), ('Employee',), ('Genre',), ('Invoice',), ('InvoiceLine',), ('MediaType',), ('Playlist',), ('PlaylistTrack',), ('Track',)]

In [9]:
c.execute("""
    SELECT * FROM customer
    LIMIT 1
""")

rows = c.fetchall()
columns = [desc[0] for desc in c.description]

# Combine headings with data for readability
for row in rows:
    print(dict(zip(columns, row)))

{'CustomerId': 1, 'FirstName': 'Luís', 'LastName': 'Gonçalves', 'Company': 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Address': 'Av. Brigadeiro Faria Lima, 2170', 'City': 'São José dos Campos', 'State': 'SP', 'Country': 'Brazil', 'PostalCode': '12227-000', 'Phone': '+55 (12) 3923-5555', 'Fax': '+55 (12) 3923-5566', 'Email': 'luisg@embraer.com.br', 'SupportRepId': 3}

In [11]:
c.execute("""
          
SELECT 
    FirstName || LastName AS FullName,
    Company,
    City,
    State
FROM customer  
Order By City
          
""")

c.fetchall()

[('JohannesVan der Berg', None, 'Amsterdam', 'VV'),
 ('PujaSrivastava', None, 'Bangalore', None),
 ('HannahSchneider', None, 'Berlin', None),
 ('NiklasSchröder', None, 'Berlin', None),
 ('WyattGirard', None, 'Bordeaux', None),
 ('JohnGordon', None, 'Boston', 'MA'),
 ('FernandaRamos', None, 'Brasília', 'DF'),
 ('DaanPeeters', None, 'Brussels', None),
 ('LadislavKovács', None, 'Budapest', None),
 ('DiegoGutiérrez', None, 'Buenos Aires', None),
 ('FrankRalston', None, 'Chicago', 'IL'),
 ('KaraNielsen', None, 'Copenhagen', None),
 ('TimGoyer', 'Apple Inc.', 'Cupertino', 'CA'),
 ('ManojPareek', None, 'Delhi', None),
 ('IsabelleMercier', None, 'Dijon', None),
 ("HughO'Reilly", None, 'Dublin', 'Dublin'),
 ('SteveMurray', None, 'Edinburgh ', None),
 ('MarkPhilips', 'Telus', 'Edmonton', 'AB'),
 ('RichardCunningham', None, 'Fort Worth', 'TX'),
 ('FynnZimmermann', None, 'Frankfurt', None),
 ('MarthaSilk', None, 'Halifax', 'NS'),
 ('TerhiHämäläinen', None, 'Helsinki', None),
 ('JoãoFernandes', None, 'Lisbon', None),
 ('EmmaJones', None, 'London', None),
 ('PhilHughes', None, 'London', None),
 ('MarcDubois', None, 'Lyon', None),
 ('VictorStevens', None, 'Madison', 'WI'),
 ('EnriqueMuñoz', None, 'Madrid', None),
 ('FrançoisTremblay', None, 'Montréal', 'QC'),
 ('FrankHarris', 'Google Inc.', 'Mountain View', 'CA'),
 ('DanMiller', None, 'Mountain View', 'CA'),
 ('MichelleBrooks', None, 'New York', 'NY'),
 ('HeatherLeacock', None, 'Orlando', 'FL'),
 ('BjørnHansen', None, 'Oslo', None),
 ('EdwardFrancis', None, 'Ottawa', 'ON'),
 ('CamilleBernard', None, 'Paris', None),
 ('DominiqueLefebvre', None, 'Paris', None),
 ('MadalenaSampaio', None, 'Porto', None),
 ('FrantišekWichterlová', 'JetBrains s.r.o.', 'Prague', None),
 ('HelenaHolý', None, 'Prague', None),
 ('JackSmith', 'Microsoft Corporation', 'Redmond', 'WA'),
 ('KathyChase', None, 'Reno', 'NV'),
 ('RobertoAlmeida', 'Riotur', 'Rio de Janeiro', 'RJ'),
 ('LucasMancini', None, 'Rome', 'RM'),
 ('JuliaBarnett', None, 'Salt Lake City', 'UT'),
 ('LuisRojas', None, 'Santiago', None),
 ('MarkTaylor', None, 'Sidney', 'NSW'),
 ('JoakimJohansson', None, 'Stockholm', None),
 ('LeonieKöhler', None, 'Stuttgart', None),
 ('LuísGonçalves',
  'Embraer - Empresa Brasileira de Aeronáutica S.A.',
  'São José dos Campos',
  'SP'),
 ('EduardoMartins', 'Woodstock Discos', 'São Paulo', 'SP'),
 ('AlexandreRocha', 'Banco do Brasil S.A.', 'São Paulo', 'SP'),
 ('RobertBrown', None, 'Toronto', 'ON'),
 ('PatrickGray', None, 'Tucson', 'AZ'),
 ('JenniferPeterson', 'Rogers Canada', 'Vancouver', 'BC'),
 ('AstridGruber', None, 'Vienne', None),
 ('StanisławWójcik', None, 'Warsaw', None),
 ('AaronMitchell', None, 'Winnipeg', 'MB'),
 ('EllieSullivan', None, 'Yellowknife', 'NT')]

In [ ]:
c.execute("""
          
SELECT 
    FirstName || LastName AS FullName,
    Company,
    City,
    State
FROM customer  
WHERE Country in ('USA', 'Canada')
Order By City
          
""")

c.fetchall()

[('JohnGordon', None, 'Boston', 'MA'),
 ('FrankRalston', None, 'Chicago', 'IL'),
 ('TimGoyer', 'Apple Inc.', 'Cupertino', 'CA'),
 ('MarkPhilips', 'Telus', 'Edmonton', 'AB'),
 ('RichardCunningham', None, 'Fort Worth', 'TX'),
 ('MarthaSilk', None, 'Halifax', 'NS'),
 ('VictorStevens', None, 'Madison', 'WI'),
 ('FrançoisTremblay', None, 'Montréal', 'QC'),
 ('FrankHarris', 'Google Inc.', 'Mountain View', 'CA'),
 ('DanMiller', None, 'Mountain View', 'CA'),
 ('MichelleBrooks', None, 'New York', 'NY'),
 ('HeatherLeacock', None, 'Orlando', 'FL'),
 ('EdwardFrancis', None, 'Ottawa', 'ON'),
 ('JackSmith', 'Microsoft Corporation', 'Redmond', 'WA'),
 ('KathyChase', None, 'Reno', 'NV'),
 ('JuliaBarnett', None, 'Salt Lake City', 'UT'),
 ('RobertBrown', None, 'Toronto', 'ON'),
 ('PatrickGray', None, 'Tucson', 'AZ'),
 ('JenniferPeterson', 'Rogers Canada', 'Vancouver', 'BC'),
 ('AaronMitchell', None, 'Winnipeg', 'MB'),
 ('EllieSullivan', None, 'Yellowknife', 'NT')]

In [18]:
c.execute("""
          
SELECT 
    FirstName || LastName AS FullName,
    Company,
    City,
    State
FROM customer  
WHERE Country in ('USA', 'Canada')
          AND LastName LIKE 'M%'
Order By City
          
""")

c.fetchall()

[('DanMiller', None, 'Mountain View', 'CA'),
 ('AaronMitchell', None, 'Winnipeg', 'MB')]