## Assignment 2: MongoDB

This assignment is based on content discussed in the Introduction to MongoDB module.

## Learning outcomes

The purpose of this assignment is for learners to be able to:
- Familarize with JSON document syntax
- Understand basic MongoDB CRUD operations
- Understand MongoDB data pipelines to run aggregate queries

In this assignment, you will make use of the sample data provided.  

This dataset has 3 collections: Employee, Workplace and Address.  You will import this data into your local MongoDB database.

Required imports for this project are given below. Make sure you have all libraries required for this project installed. You may use conda or pip based on your set up.

## Setup Notes

**Please note** These instructions are duplicated here for your reference. You would have encountered them in a previous module. It is expected that you have already taken the steps to set up and run MongoDB.

We will be using MongoDB Community Edition.  The MongoDB database <b>MUST</b> be installed and running locally before continuing with this notebook.  We will need to install two packages using the Anaconda package manager:

1. [Mongodb](https://www.mongodb.com/) - this package contains the mongodb database 
2. [PyMongo](https://www.mongodb.com/docs/drivers/pymongo/) - this package contains the python driver that will allow us to communicate with the mongodb database.

#### Install

1. Open a command line terminal and execute the following command to install mongodb.
```console
conda install -c anaconda mongodb
```
2. Open a command line terminal and execute the following command to install pymongo packge.
```console
conda install -c anaconda pymongo
```

#### Run Mongodb in Windows
1. MongoDB requires a data directory to store all data. MongoDB’s default data directory path is \data\db. Create this folder using the following commands from a Command Prompt:
```console
md \data\db
```

2. To start MongoDB, run mongod.exe. For example, from the Command Prompt:
```console
"C:\Program Files\MongoDB\Server\3.2\bin\mongod.exe"
```

#### Run Mongodb in Mac
1. MongoDB requires a data directory to store all data. MongoDB’s default data directory path is /data/db. Create this folder using the following commands from a Command Prompt.  Note that we run the command as a super user using the "sudo" command:
```console
sudo mkdir /data/db/
```

2. To start MongoDB, run mongod.exe. For example, from the Command Promp.  Note that we run the command as a super user using the "sudo" command:
```console
sudo mongod --config /usr/local/etc/mongod.conf
```

In [1]:
#required imports
import os
import json
import datetime
import pymongo
import pprint
import pandas as pd
import numpy as np
from pymongo import MongoClient
print('Mongo version', pymongo.__version__)

Mongo version 4.13.0

We first need to connect to our locally running MongoDB database (<b>Make sure your database is running on your machine</b>). We will use the MongoClient to connect to a local 'test' database that is running on port 27017 (this is the default port).

In [2]:
client = MongoClient('localhost', 27017)
db = client.assignment1

After installing necessary modules proceed to import the data into your database.

In [5]:
# Base path to your data
base_path = r'C:\Users\jverc\OneDrive\02.DataScienceOD\learn\Big Data Management\module_03'

In [17]:
# Let's delete any existing collections in our database
db.workplace.drop()
db.address.drop()
db.employee.drop()

# Import our files into our three collections
with open(f'{base_path}\\Employee.json') as f:
    db.employee.insert_many(json.load(f))
with open(f'{base_path}\\Workplace.json') as f:
    db.workplace.insert_many(json.load(f))
with open(f'{base_path}\\Address.json') as f:
    db.address.insert_many(json.load(f))

#### Question 1 (10 Marks)

The employee collection contains employee from different ages and interests.  Perform a simple query to list all employees that are less than or equal to 50 and like Cooking.

__NOTE:__ the following shows the structure of an Employee document that will help you construct the query.

In [18]:
pprint.pprint(client.assignment1.employee.find_one())

{'_id': '9f39da36-82cc-4353-ab90-d616105fa7c1',
 'address_id': 'b6c0b50a-d0e3-43bf-a2a4-8d4674c2a7e8',
 'age': 40,
 'email': 'ih@ri.ro',
 'firstname': 'Emilie',
 'interests': ['Bowling', 'Cooking', 'Golf', 'Swimming'],
 'lastname': 'Woods',
 'workplace_id': 'a32bf18d-e0e5-48f2-a851-aa49c80f9460'}

In [19]:
# YOUR CODE HERE

cursor = db.employee.find({
                            "age": {"$lt": 50},
                            "interests": "Cooking"
    
                            }, 
                            
                        {
                            "firstname","lastname","age", "interests"})

# display results in a dataframe so that we can display results in a pretty table
pd.DataFrame(list(cursor))

,_id,firstname,lastname,age,interests
0,9f39da36-82cc-4353-ab90-d616105fa7c1,Emilie,Woods,40,"[Bowling, Cooking, Golf, Swimming]"
1,af27265e-6639-49f2-991e-193275a4111a,Thomas,Patterson,18,"[Cooking, Cricket, Tennis, Swimming, Fishing]"
2,00289d48-bad8-4b73-a359-a1a1f05c96e2,Sophia,Flores,22,"[Hiking, Soccer, Bowling, Rubgy, Cooking, Danc..."
3,da76e52b-b3db-4fc0-b0d6-435d1aed0cd9,Ollie,Barnett,25,"[Cooking, Bowling, Dancing]"
4,51643cd6-49bb-45d5-bd6e-717c62bb2869,James,Wilkins,27,"[Rubgy, Tennis, Cricket, Cooking]"
5,f073a705-6546-4375-adb5-b224871776ef,Aaron,Carr,25,[Cooking]
6,457ef68c-9651-4925-bca0-15e246661d19,Alta,Sharp,34,"[Cricket, Cycling, Rubgy, Golf, Cooking, Dancing]"
7,840184a3-4c4d-4b15-8813-30fca6e7827b,Delia,Douglas,36,"[Cricket, Cooking, Hiking, Dancing, Tennis]"
8,6157dc3b-ee2d-463a-b62b-1cd4eed7d575,Dominic,Wade,48,"[Cycling, Dancing, Cooking]"
9,cc3e389d-be0d-467a-ba70-7c84f6504911,Myrtle,Little,36,"[Cooking, Cycling, Hiking, Rubgy, Bowling, Dan..."
10,c2bf0e3f-e3de-41de-b745-c5b70571dd3a,Jordan,Roberson,29,"[Swimming, Cooking]"
11,4bc070ca-f849-4eeb-8ab2-98fe3c0861c0,Francis,Harris,38,"[Dancing, Swimming, Cooking, Bowling, Cycling]"
12,66894dba-4ff0-4545-b7cc-eb6a5bd551c5,Clara,Butler,49,"[Soccer, Cooking, Cycling]"
13,581f59a2-ff4c-407e-b58f-e4f292208928,Rena,Johnson,33,"[Cycling, Swimming, Soccer, Cooking]"
14,b2a2ae86-f4f6-4da5-ade6-ee1cd135daf3,Gavin,Conner,49,"[Rubgy, Cooking, Bowling]"
15,2bfc0479-cb15-46e1-94fa-801404791b21,Peter,Jimenez,37,"[Cooking, Swimming, Cricket]"

#### Question 2  (10 Marks)

Insert a new Employee with the following properties:

* First Name: Jake 
* Last Name: Sample
* Email: jakesample@email.com
* Age: 26
* Interest: Biking, Hiking

Also, this employee works for 'Union Planters Corp' and lives at '573 Wojhas Square, Victoria'.
Verify that the insert succeeded and display the generated employees _id attribute.

__HINT__ An Employee document references a Workplace and Address document

In [20]:
pprint.pprint(client.assignment1.address.find_one())

{'_id': '91b5b7b3-2309-4e8a-8247-cd66d626ef0c',
 'address': '573 Wojhas Square',
 'city': 'Victoria',
 'postalcode': 'A7D 5A3',
 'province': 'BC'}

In [21]:
pprint.pprint(client.assignment1.workplace.find_one())

{'_id': '5345fcb9-6297-4b9f-aa15-cbee8460f28f',
 'address_id': '9949fe3b-99ec-4485-b91d-823925db7d28',
 'industry': 'Aerospace',
 'name': 'Union Planters Corp',
 'website': 'http://www.unionplanternscorp.com'}

In [22]:
workplace_id = db.workplace.find_one({"name": "Union Planters Corp"})["_id"]
address_id = db.address.find_one({"address": "573 Wojhas Square", "city": "Victoria"})["_id"]

In [23]:
# YOUR CODE HERE

db.employee.insert_one({
 'age': 26,
 'email': 'jakesample@email.com',
 'firstname': 'Jake',
 'interests': ['Biking', 'Hiking'],
 'lastname': 'Sample',
 'workplace_id': workplace_id,
 'address_id': address_id
 })

InsertOneResult(ObjectId('68550781e8c3e0bb35c5d483'), acknowledged=True)

In [24]:
query_result = db.employee.find() \
              .sort(
                    '$natural',  # sort based on the order the document was inserted
                     pymongo.DESCENDING) \
              .limit(5) # only look at the last 5 inserted documents

#Print the result in a table
pd.DataFrame(list(query_result))

,_id,age,email,firstname,interests,lastname,workplace_id,address_id
0,68550781e8c3e0bb35c5d483,26,jakesample@email.com,Jake,"[Biking, Hiking]",Sample,5345fcb9-6297-4b9f-aa15-cbee8460f28f,91b5b7b3-2309-4e8a-8247-cd66d626ef0c
1,663e70d1-1b08-4e40-a880-befe2bec42d3,52,bibtar@ru.gb,Edward,"[Hiking, Soccer, Dancing]",Hawkins,2b87eb84-e5b4-4f2c-9e13-dc3ba20a7f7f,824fea9d-d0e6-4c53-ad9d-5bf626a948f3
2,2bfc0479-cb15-46e1-94fa-801404791b21,37,usope@tega.bh,Peter,"[Cooking, Swimming, Cricket]",Jimenez,cb795afb-8dc3-482f-b3a0-14229a280afa,77ce0c50-afd6-47e8-86d7-b1b372e8deb2
3,b2a2ae86-f4f6-4da5-ade6-ee1cd135daf3,49,ah@jopah.uz,Gavin,"[Rubgy, Cooking, Bowling]",Conner,50275ad1-8140-4e79-8818-21793e3eb0a3,ef5a17a2-6f11-49b8-a0fd-e0bddc56f185
4,220eb787-0a63-4518-9b3e-4f5c0afd68c3,55,zegatike@iwocejnan.sy,Eula,"[Rubgy, Cycling, Fishing]",Santos,2b87eb84-e5b4-4f2c-9e13-dc3ba20a7f7f,c923b5b1-3eca-4a26-9974-cfadae5c1ddf

#### Question 3 (10 Marks)

Delete all employees that work for 'Great Plains Energy Inc.' and are greater than 46 years old and likes 'Tennis'. Once you delete the employees verify the number of employees deleted.

In [ ]:
# YOUR CODE HERE

#### Question 4 (10 Marks)
Add a new field called 'industry' in the employee collection, to all employees that work for 'Health Net Inc.' and populate the field with the value 'Health Care'.

__HINT__ Adding a new field to a document is like updating the document

In [ ]:
# YOUR CODE HERE

#### Question 5 (10 Marks)

Create an aggregate query to count the number of employees for each company and sort the output from largest employee count to lowest employee count.

__NOTE__ you will use a pipeline to achieve the computed result.  You should produce a result similar to the following table (the following table contains fake data)
<table>
    <tr><th></th><th>_id</th><th>count</th></tr>
    <tr><td>0</td><td>[Equity Residential Properties Trust]</td><td>19</td></tr>
    <tr><td>...</td><td>...</td><td>...</td></tr>
    <tr><td>7</td><td>[Bell Microproducts Inc.]</td><td>6</td></tr>
    <tr><td>8</td><td>[Kemet Corp.]</td><td>1</td></tr>
</table>

__HINT__ you should make use of the \\$lookup, \\$group and \\$sort pipeline operations

In [ ]:
# YOUR CODE HERE

query_result = # YOUR CODE HERE

pd.DataFrame(list(query_result))